<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="message-show">

    <h2><%= @message.title %></h2>
    <p class="message-posted-by">
      Posted by <%= @message.user.email %>
      <%= time_ago_in_words(@message.created_at) %> ago
    </p>
    <p class = "message-desc">
      <%= @message.description %>
    </p>

    <h3 class="reply-to-message">Comments:</h3>
    <%= render @message.comments %>

    <h3>Reply to Message</h3>
    <%= render "comments/form" %>

    <div class="links btn-group">
      <% if user_signed_in? %>
      <% if @message.user.id == current_user.id %>
      <%= link_to "Back", root_path, class: "btn btn-default" %>
      <%= link_to "Edit", edit_message_path(@message), class: "btn btn-default" %>
      <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

